/* Import of Google font Jost*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/*CSS variables*/

:root {
    --primary-font: "Jost", serif;
    --primary-color: #001C55;
    --primary-background: #CBB9A8;
}


/*Global styles*/

body {
    font-family: var(--primary-font);
    background-color: var(--primary-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*Add flex 1 to push down footer*/

main {
    flex: 1;
}

h1 {
    margin-top: 15px;
}


/*Navbar*/

#navbar {
    background-color: var(--primary-color);
}


/*Hero*/

#hero {
    background: url(../img/hero.jpg) no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 500px;
}

#cover-box {
    /*Use rgba to also set transparency*/
    background-color: rgba(207, 222, 231, .7);
    position: absolute;
    bottom: 2rem;
    padding: 15px 15px;
    margin-left: 1rem;
}


/*Logo*/

#logo {
    width: 40px;
}


/*Filter-field*/

#filter {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*Spots card style */

#content .card {
    margin-bottom: 16px;
}


/*Img in cards on tablet and desktop*/

.sideImg {
    display: flex;
    text-align: center;
    align-items: center;
}


/*Adjust price and opening hours info on the side on desktop*/

.sideInfo {
    display: flex;
    align-items: center;
}


/*round the edges on pics, apply on cards with pic on side (tablet and bigger)*/

.img-fluid {
    border-radius: 15%;
}


/*Map responsivnes*/

.map {
    position: relative;
    overflow: hidden;
    padding-top: 75%;
    /*Control aspect ratio 75% 4:3 and 56.25% 16:9 */
    height: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Hide elements/text*/

.hide {
    display: none;
}

#filter p {
    margin-bottom: 0px;
}


/*Weather styling*/

#weekly {
    margin-top: 20px;
}

#weeklyCards .card {
    min-width: 183px;
    background-color: var(--primary-background);
    border: none;
    margin-bottom: 10px;
}

#currentWeather p {
    margin-bottom: 5px;
}

#dayFirstCard {
    font-size: 16px;
}

.card p {
    margin-bottom: 1px;
}


/*Current weather symbol*/

#currentSymbol {
    font-size: 40px;
}


/*Footer style*/

#footer {
    background-color: var(--primary-color);
}

#footer p {
    margin: 0;
    color: #fff;
}


/*Color for link back to top*/

#footer a {
    color: #fff;
}


/*Hover effect for link to top*/

#footer a:hover {
    color: var(--primary-background);
}


/*Media query large size display 992px up*/

@media screen and (min-width:992px) {
    .map {
        /*Control aspect ratio 75% 4:3 and 56.25% 16:9 */
        padding-top: 56.25%;
    }
}